node_modules
npm-debug.log
.git
.gitignore
README.md
.env
.nyc_output
coverage
.nyc_output
.coverage
.vscode
src
e2e
*.spec.ts
*.e2e-spec.ts
.angular
.vscode
.editorconfig
karma.conf.js
tsconfig*.json
angular.json
.browserslistrc
